# Build directory
build/

# LaTeX auxiliary files
*.aux
*.fdb_latexmk
*.log
*.nav
*.synctex*
*.xdv
*.fls
*.out
*.snm
*.toc
*.run.xml
*.blg
*.bcf
*.bbl
*.vrb

# macOS
.DS_Store

# Symbolic links to PDF output
slides/report.pdf
slides/report.synctex.gz

# LaTeX temporary files
*.lof
*.lot
*.tdo
*.alg
*.acr
*.acn
*.glo
*.ist
*.loa
